export ZSH="$HOME/.config/oh-my-zsh"

ZSH_THEME=""

# Override default directory for zcompdump files for shell completions
# This should be improved in the future and moved to default cache directory
# https://github.com/ohmyzsh/ohmyzsh/issues/13406
export ZSH_COMPDUMP=$ZSH_CACHE_DIR/.zcompdump-${SHORT_HOST}-${ZSH_VERSION}

# OMZ Plugins
plugins=(git ssh-agent mise fzf zoxide zsh-autosuggestions zsh-syntax-highlighting zsh-autocomplete)
source $ZSH/oh-my-zsh.sh

# ZSH-AUTOCOMPLETE PLUGIN

# Make Tab and ShiftTab go to the menu
bindkey              '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select
# Make Tab and ShiftTab change the selection in the menu
bindkey -M menuselect              '^I'         menu-complete
bindkey -M menuselect "$terminfo[kcbt]" reverse-menu-complete

# Disable zsh-autocomplete expansion section
# https://github.com/marlonrichert/zsh-autocomplete/issues/759
zstyle ':completion:*' \
	completer  \
	_complete _complete:-fuzzy _correct _approximate _ignored

# Make hidden files (starting with '.') show without explicit specification for autocomplete
# GLOBDOTS lets files beginning with a . be matched without explicitly specifying the dot.
# https://zsh.sourceforge.io/Intro/intro_16.html
# https://unix.stackexchange.com/questions/308315/how-can-i-configure-zsh-completion-to-show-hidden-files-and-folders
setopt globdots

# STARSHIP
eval "$(starship init zsh)"

{{ if .isWork -}}
# ROVODEV
export EDITOR='nvim'
{{- end }}

# ZOXIDE
export _REPOS="$HOME/atlassian/repos"
export _ZO_EXCLUDE_DIRS="$HOME:$_REPOS/dc/crowd:$_REPOS/dc/jira:$_REPOS/dc/confluence"

# ALIASES
alias vim='nvim'
