#============== OMZ CORE CONFIG ==============
export ZSH="$HOME/.config/oh-my-zsh"

ZSH_THEME=""

# Override default directory for zcompdump files for shell completions
# This should be improved in the future and moved to default cache directory
# https://github.com/ohmyzsh/ohmyzsh/issues/13406
export ZSH_COMPDUMP=$ZSH_CACHE_DIR/.zcompdump-${SHORT_HOST}-${ZSH_VERSION}

# OMZ Plugins
plugins=(
    starship
    ssh-agent
    mise
    zoxide
    zsh-autosuggestions
    zsh-syntax-highlighting
    zsh-autocomplete
    fzf
)
source $ZSH/oh-my-zsh.sh

#============== ZSH-AUTOCOMPLETE PLUGIN ==============

# Make Tab and ShiftTab go to the menu
bindkey              '^I' menu-select
bindkey "$terminfo[kcbt]" menu-select
# Make Tab and ShiftTab change the selection in the menu
bindkey -M menuselect              '^I'         menu-complete
bindkey -M menuselect "$terminfo[kcbt]" reverse-menu-complete

# Disable zsh-autocomplete expansion section
# https://github.com/marlonrichert/zsh-autocomplete/issues/759
zstyle ':completion:*' \
	completer  \
	_complete _complete:-fuzzy _correct _approximate _ignored

# Make hidden files (starting with '.') show without explicit specification for autocomplete
# GLOBDOTS lets files beginning with a . be matched without explicitly specifying the dot.
# https://zsh.sourceforge.io/Intro/intro_16.html
# https://unix.stackexchange.com/questions/308315/how-can-i-configure-zsh-completion-to-show-hidden-files-and-folders
setopt globdots

#============== FZF ==============
export FZF_DEFAULT_OPTS=$'--highlight-line
  --bind tab:toggle
  --color=fg:#cad3f5,bg:#24273a,hl:#ed8796,fg+:#cad3f5,bg+:#363a4f
  --color=hl+:#ed8796,info:#c6a0f6,prompt:#c6a0f6,pointer:#f4dbd6
  --color=marker:#f7e6e2,spinner:#f4dbd6,header:#ed8796,border:#5b6078
  --color=gutter:#363a4f'

{{ if .isWork -}}
# ROVODEV
export EDITOR='nvim'
{{- end }}

#============== ZOXIDE ==============
export _REPOS="$HOME/atlassian/repos"
export _ZO_EXCLUDE_DIRS="$HOME:$_REPOS/dc/crowd:$_REPOS/dc/jira:$_REPOS/dc/confluence"

#============== ALIASES ==============
alias vim='nvim'

# COOL COMMANDS
alias g='git'

# push the current branch
alias gp='git push'

#============== FZF GIT COMMANDS ==============

# fuzzy-pick a branch and check it out
alias gco='git branch --no-color | fzf | cut -c 3- | xargs git checkout'

# fuzzy-pick (multi-select with tab) one or more branches and force-delete them
alias grb='git branch --no-color | fzf -m | cut -c 3- | xargs -I {} git branch -D '{}''

# fuzzy-pick a branch and copy its name to the clipboard (newline stripped)
alias gcb='git branch --no-color | fzf  | cut -c 3- | tr -d "\n" | pbcopy'
