#!/bin/bash

{{ $extensions := list
	"akamud.vscode-theme-onedark"
	"biomejs.biome"
	"astro-build.astro-vscode"
	"eamodio.gitlens"
	"yoavbls.pretty-ts-errors"
	"ms-python.python" -}}

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}
