{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

PACKAGES=(
	git
	neovim
	starship
	curl
	mise
)

CASKS=(
	alt-tab
	visual-studio-code
	raycast
	docker
	font-0xproto-nerd-font
	raycast
	tabby
	hiddenbar
)

printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install ${PACKAGES[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup

printf '\n\nInstalling cask apps...\n'
brew install --cask --force ${CASKS[@]}

{{ end -}}
