#!/bin/bash

EXTENSIONS=(
    catppuccin.catppuccin-vsc
    catppuccin.catppuccin-vsc-icons

    eamodio.gitlens

    ms-azuretools.vscode-containers
    ms-azuretools.vscode-docker

    vscodevim.vim
    yoavbls.pretty-ts-errors
    hverlin.mise-vscode

    ms-python.debugpy
    ms-python.python
    ms-python.vscode-pylance

    redhat.java
    vscjava.vscode-java-dependency
    vscjava.vscode-maven
    vscjava.vscode-java-debug
    vscjava.vscode-java-test

    redhat.vscode-xml
    tamasfe.even-better-toml

    {{- if .isWork }}
    sodatea.velocity
	{{ end -}}
)

echo "Installing VS Code extensions..."

for ext in "${EXTENSIONS[@]}"; do
    cursor --install-extension "$ext"
done
