#!/bin/bash

EXTENSIONS=(
    astro-build.astro-vscode
    biomejs.biome
    catppuccin.catppuccin-vsc
    catppuccin.catppuccin-vsc-icons
    eamodio.gitlens
    ms-azuretools.vscode-containers
    ms-azuretools.vscode-docker
    ms-python.debugpy
    ms-python.python
    ms-python.vscode-pylance
    tamasfe.even-better-toml
    vscodevim.vim
    yinfei.luahelper
    yoavbls.pretty-ts-errors
)

echo "Installing VS Code extensions..."

for ext in "${EXTENSIONS[@]}"; do
    code --install-extension "$ext"
    cursor --install-extension "$ext"
done
