[tools]
yarn = "latest"
python = "3"
uv = "latest"
maven = "latest"
{{- if .isWork }}
java = "21"
node = "24"
{{- else }}
node = "latest"
bun = "latest"
{{- end }}

[settings]
idiomatic_version_file_enable_tools = ["maven", "node", "python", "java", "yarn", "npm"]
experimental = false
arch = "x86_64"
